.navbar-brand-alt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    background-color: darkcyan;
    color: white;
}

.footer-copyright-light {
    color: #999;
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin-top: 30px;
    border-top: solid 10px darkcyan;
}